@using Common.Utils.Enums
@using static Common.Utils.Constant.Const
@{
    ViewData["Title"] = "Citas Activas";
      var idRols = User.Claims.FirstOrDefault(x => x.Type == TypeClaims.IdRol).Value;

    bool isAdmin = idRols.Any(x => x.ToString() == Convert.ToInt32(Enums.RolUser.Administrador).ToString());
    bool isVet = idRols.Any(x => x.ToString() == Convert.ToInt32(Enums.RolUser.Veterinario).ToString());
    
}
<<<<<<< HEAD

=======
>>>>>>> 92729572224ef07c47efca2ba9435415248461ad
@if (isAdmin || isVet)
{
    <h1>Listado de Citas Activas</h1>

<div class="row">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Mascota</th>
                <th scope="col">Servicio</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha Cierre</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>

        <tbody id="cuerpoDates">
        </tbody>
    </table>
</div>


@*modal*@
<div class="modal fade" id="modalDates" tabindex="1" role="dialog" aria-labelledby="modalPetLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="idTituloModalDates">Crear Mascota</h5>
            </div>
            <div class="modal-body">
                <form>

                    <div class="row">

                        <div class="col-md-6 form-group">
                            <label for="recipient-name" class="col-form-label">Fecha Cita</label>
                            <input type="date" class="form-control" id="txtDate" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="recipient-name" class="col-form-label">Contacto</label>
                            <input type="text"
                                   class="form-control"
                                   id="txtContactoDate"
                                   placeholder="Contacto"
                                   required
                                   maxlength="100">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label"> Servicio</label>
                            <select id="cmbServicio" class="form-control" onchange="seleccionarServicio()" required>
                                <option> Seleccionar</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label"> Mascota</label>
                            <select id="cmbPet" class="form-control" disabled required>
                                <option> Seleccionar</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="recipient-name" class="col-form-label">Descripción</label>
                            <textarea class="form-control"
                                      id="txtDescripcion"
                                      required
                                      disabled
                                      placeholder="Descripción de la cita"
                                      maxlength="300">

                            </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="recipient-name" class="col-form-label">Observación</label>
                            <textarea class="form-control"
                                      id="txtObservacion"
                                      placeholder="Observación de la cita"
                                      maxlength="300">

                            </textarea>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="limpiarForm()">
                    <i class="fas fa-window-close"></i>
                    Cancelar
                </button>
                <button type="button" class="btn btn-success" onclick="guardarDates()">
                    <i class="far fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
  @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script type="text/javascript" charset="utf-8">


     var listaPets= [];
     var listServices=[];
     var listMyDates=[];


     let idDates='';
     let idPet='';
     let idServicio='';
     let idState='';

     $(document).ready(function () {
         getAllDates();
         getAllMyPets();
         getServices();
     });

     function getAllDates()
     {
         modalProcesando(true);
         $.ajax({
             url: '@Url.Action("GetAllDates", "Dates")',
             method: 'GET',
             dataType: "json",
             success: function (data) {
                 modalProcesando(false);
                 listMyDates=data;
                 cargarGridDates(listMyDates);
                 console.log(listMyDates);
             },
             error: function (xhr, textStatus, errorThrown) {
                     modalProcesando(false);
                     console.error(xhr, textStatus, errorThrown);
                 }
          });
     }

     function cargarGridDates(data){
         $("#cuerpoDates").html("");

         for(var i=0; i<data.length; i++){
             var tr=`
              <tr>
                 <th>`+ data[i].strDate+ `</th>
                 <th> `+ data[i].mascota +`</th>
                 <th> `+ data[i].servicio +`</th>
                 <th> `+ data[i].estado + `</th>
                 <th> `+ data[i].strClosingDate + `</th>
                 <td>
                 <button  class="btn btn-success" onclick="editarDates(`+ data[i].id +`)"><i class="fas fa-calendar-check"></i> Finalizar Cita</button>
                 <button  class="btn btn-info" onclick="cancelarDates(`+ data[i].id +`)"><i class="fas fa-calendar-times"></i> Cancelar </button>

                 </td>
             </tr>
             `;
             $("#cuerpoDates").append(tr);
         }
     }

     function getServices()
     {
         modalProcesando(true);
         $.ajax({
             url: '@Url.Action("GetAllServices", "Dates")',
             method: 'GET',
             dataType: "json",
             success: function (data) {
                 modalProcesando(false);
                 listServices=data;
                 cargarServicios(listServices);
             },
             error: function (xhr, textStatus, errorThrown) {
                     modalProcesando(false);
                     console.error(xhr, textStatus, errorThrown);
                 }
          });
     }

    function cargarServicios(data, selected) {
         $("#cmbServicio").empty();
         $("#cmbServicio").append('<option value="" disabled selected>Seleccione un Servicio</option>');
         $.each(data, function (i, lista) {
             if (data[i].id == selected) {
                 $("#cmbServicio").append('<option value="' + data[i].id + '"selected>' + data[i].services + '</option>');
             }
             else {
                 $("#cmbServicio").append('<option value="' + data[i].id + '">' + data[i].services + '</option>');
             }
         });
     }

     function getAllMyPets()
     {
         modalProcesando(true);
         $.ajax({
             url: '@Url.Action("GetAllMyPets", "Pet")',
             method: 'GET',
             dataType: "json",
             success: function (data) {
                 modalProcesando(false);
                 listaPets=data;
                 cargarPets(listaPets);
             },
             error: function (xhr, textStatus, errorThrown) {
                     modalProcesando(false);
                     console.error(xhr, textStatus, errorThrown);
                 }
          });
     }

     function cargarPets(data, selected) {
         $("#cmbPet").empty();
         $("#cmbPet").append('<option value="" disabled selected>Seleccione una Mascota</option>');
         $.each(data, function (i, lista) {
             if (data[i].id == selected) {
                 $("#cmbPet").append('<option value="' + data[i].id + '"selected>' + data[i].name + '  ['+ data[i].typePet + ']'+ '</option>');
             }
             else {
                 $("#cmbPet").append('<option value="' + data[i].id + '">' + data[i].name + '  ['+ data[i].typePet + ']'+'</option>');
             }
         });
     }

     function guardarDates(){

         if(validarForm())
         {
             let parametro={
                 Date:$("#txtDate").val(),
                 Contact:$("#txtContactoDate").val(),
                 IdServices:idServicio,
                 IdPet:idPet,
                 Description:$("#txtDescripcion").val(),
                 Observation:$("#txtObservacion").val(),
             };

             if(idDates!='')
             {
                 parametro.Id=idDates;
                 parametro.IdState=idState;

                 modalProcesando(true);
                 $.ajax({
                     url: '@Url.Action("UpdateDatesVet", "Dates")',
                     method: 'PUT',
                     data:parametro,
                     dataType: "json",
                     success: function (data) {
                         modalProcesando(false);

                         console.log(listaPets);

                         if (data){
                             $('#modalDates').modal('hide');
                             limpiarForm();
                             toastMessage('success','Mascota guardada exitosamente!');
                             getAllDates();
                         }else{
                              toastMessage('error','Hubo un error al guardar, por favor intentarlo nuevamente!');
                         }


                     },
                     error: function (xhr, textStatus, errorThrown) {
                             modalProcesando(false);
                             toastMessage('error','Hubo un error al guardar, por favor intentarlo nuevamente!');
                             console.error(xhr, textStatus, errorThrown);
                         }
                  });
             }
         }
     }

     function validarForm()
     {
         if($("#txtDate").val()=='')
         {
             $("#txtDate").focus();
             toastMessage('warning','La fecha de la cita es obligatoria.');
             return false;
         }

         if($("#txtContactoDate").val()=='')
         {
             $("#txtContactoDate").focus();
             toastMessage('warning','El contacto es obligatorio.');
             return false;
         }  
         
         if(idServicio=='')
         {
             $("#cmbServicio").focus();
             toastMessage('warning','El servicio es obligatorio.');
             return false;
         }

         if(idPet=='')
         {
             $("#cmbPet").focus();
             toastMessage('warning','La mascota es obligatorio.');
             return false;
         }

         if($("#txtObservacion").val().trim()=='')
         {
             $("#txtObservacion").focus();
             toastMessage('warning','La observación es obligatorio.');
             return false;
         }

         return true;
     }

     function limpiarForm()
     {
        $("#txtDate").val('');
        $("#txtContactoDate").val('');
        $("#txtDescripcion").val('');
        idServicio='';
        idPet='';
        idDates='';
        idState='';

        cargarServicios(listServices);
        cargarPets(listaPets);
     }

     function seleccionarServicio()
     {
         var combo=document.getElementById("cmbServicio");
         let selected = combo.options[combo.selectedIndex].value;
         //let text = combo.options[combo.selectedIndex].text;
         idServicio=selected;
     }

     function editarDates(id)
     {
         idDates=id;
         let dates= listMyDates.find(x=>x.id==idDates);

         idPet=dates.idPet;
         idServicio=dates.idServices;
         idState=dates.idState;

         $('#txtContactoDate').val(dates.contact);
         $('#txtDescripcion').val(dates.description);

         //setear fechas
         var now = new Date(dates.date);
         var day = ("0" + now.getDate()).slice(-2);
         var month = ("0" + (now.getMonth() + 1)).slice(-2);
         var today = now.getFullYear()+"-"+(month)+"-"+(day);

         $('#txtDate').val(today)


         cargarServicios(listServices,idServicio);
         cargarPets(listaPets,idPet);

        $('#idTituloModalDates').html("Editar Cita");
        $('#modalDates').modal({keyboard:true});
     }

    function cancelarDates(id)
    {
         Swal.fire({
             title: '¿Confirmar Cancelación?',
             text: "No podrás revertir esto.!",
             icon: 'warning',
             showCancelButton: true,
             confirmButtonColor: '#3085d6',
             cancelButtonColor: '#d33',
             cancelButtonText: 'Cancelar',
             confirmButtonText: 'Confirmar!',
         }).then((result) => {
             if (result.isConfirmed) {

                 modalProcesando(true);
                 //petición
                 $.ajax({
                     url: '@Url.Action("CancelDatesVet", "Dates")',
                     method: 'GET',
                     data:{
                         idDates:id
                     },
                     dataType: "json",
                     success: function (data) {
                         modalProcesando(false);
                         if (data){
                             Swal.fire(
                                 'Cita Cancelada!',
                                 'Cita Cancelada exitosamente!',
                                 'success');

                                 getAllDates();
                         }else{
                             Swal.fire(
                                 'Error!',
                                 'Ha ocurrido un error, por favor vuelva a intentarlo!',
                                 'error');
                         }
                      },
                      error: function (xhr, textStatus, errorThrown) {
                          modalProcesando(false);
                          console.error(xhr, textStatus, errorThrown);
                      }
                   });
                 }

             });
    }


</script>
}

}
else
{
    @section Scripts{
        <script type="text/javascript" charset="utf-8">
              $(document).ready(function () {
                    Swal.fire(
                                 '¡Usuario no Autorizado!',
                                 'No tiene suficientes privilegios para ver esta sección.',
                                 'error');
              });
        </script>
     }
}